<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prizes</key>
	<array>
		<dict>
			<key>row</key>
			<string>A</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Berries</string>
					<key>column</key>
					<string>1</string>
					<key>image</key>
					<string>berries</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Blue Whale</string>
					<key>column</key>
					<string>2</string>
					<key>image</key>
					<string>blue-whale</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Fuzzy Peaches</string>
					<key>column</key>
					<string>3</string>
					<key>image</key>
					<string>fuzzy-peaches</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Gumballs</string>
					<key>column</key>
					<string>4</string>
					<key>image</key>
					<string>gumballs</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>5</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>row</key>
			<string>B</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Gift Card</string>
					<key>column</key>
					<string>1</string>
					<key>image</key>
					<string>giftcard</string>
					<key>points</key>
					<integer>1000</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Gummy Worms</string>
					<key>column</key>
					<string>2</string>
					<key>image</key>
					<string>Gummy_Worms</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Jube Jubes</string>
					<key>column</key>
					<string>3</string>
					<key>image</key>
					<string>jubejubes</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Limes</string>
					<key>column</key>
					<string>4</string>
					<key>image</key>
					<string>limes</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>5</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>row</key>
			<string>C</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Mike &amp; Ikes</string>
					<key>column</key>
					<string>1</string>
					<key>image</key>
					<string>mike-and-ike</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Rainbow Belts</string>
					<key>column</key>
					<string>2</string>
					<key>image</key>
					<string>rainbow-belts</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Sour Cherries</string>
					<key>column</key>
					<string>3</string>
					<key>image</key>
					<string>sour-cherries</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Sour Gumball</string>
					<key>column</key>
					<string>4</string>
					<key>image</key>
					<string>sour-gumball</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>5</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>row</key>
			<string>D</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Blue Jellies</string>
					<key>column</key>
					<string>1</string>
					<key>image</key>
					<string>blue-jellies</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Fruit Cocktail</string>
					<key>column</key>
					<string>2</string>
					<key>image</key>
					<string>fruit-cocktail</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Gummy Bears</string>
					<key>column</key>
					<string>3</string>
					<key>image</key>
					<string>gummy-bears</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Jelly Beans</string>
					<key>column</key>
					<string>4</string>
					<key>image</key>
					<string>jelly-beans</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>5</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Smarties</string>
					<key>column</key>
					<string>6</string>
					<key>image</key>
					<string>smarties</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Coke Bottles</string>
					<key>column</key>
					<string>7</string>
					<key>image</key>
					<string>cola</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Nibs</string>
					<key>column</key>
					<string>8</string>
					<key>image</key>
					<string>nibs</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Gift Card</string>
					<key>column</key>
					<string>9</string>
					<key>image</key>
					<string>giftcard</string>
					<key>points</key>
					<integer>1000</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>10</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>row</key>
			<string>E</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>1</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>2</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>3</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>4</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>5</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>6</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>7</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>8</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>9</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>10</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>row</key>
			<string>F</string>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>Sour Keys</string>
					<key>column</key>
					<string>1</string>
					<key>image</key>
					<string>sour-key</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Sour Strawberry</string>
					<key>column</key>
					<string>2</string>
					<key>image</key>
					<string>sour-strawberry</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Strawberries</string>
					<key>column</key>
					<string>3</string>
					<key>image</key>
					<string>strawberries</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Watermelon</string>
					<key>column</key>
					<string>4</string>
					<key>image</key>
					<string>watermelon</string>
					<key>points</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>soldout</string>
					<key>column</key>
					<string>5</string>
					<key>image</key>
					<string>sorry-not-enough-points</string>
					<key>points</key>
					<string>-1</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
